{% extends 'base.html' %} {% load static %} {% block content1 %}
<link rel="stylesheet" href="{% static 'css/styleEntreprise.css' %}">
<title>Entreprise</title>
{% endblock %} {% block content2 %}
<article id="liste_ent">

    <h1> Entreprises</h1>
    <article class="recherche">
        <form method="POST">
            {% csrf_token %}
            <div class="div_rech">
                <input id="entrepriseLibelle" type="text" name="entrepriseLibelle" placeholder="Entreprise">
            </div>
            <div class="div_rech">
                <input id="localisation" type="text" name="localisation" placeholder="Localisation">
            </div>
            <button type="submit" id="buttonRechercher">Rechercher</button>
        </form>
    </article>
    <div class="container_tt_entreprise" id="div1">
        {% for ent in entreprises %}{% if forloop.counter < 11 %} <div class="container_1_entreprise">
            <h2> {{ent.nom}}</h2>
            <p>{{ent.description}}</p>
            <img src="{{ent.logo}}" alt="{{ent.nom}}">
            <p>
                <a href="{{ ent.get_absolute_url }}"> Voir l'Entreprise</a>
            </p>
    </div>
    {% endif %}
    {% endfor %}
    </div>
    <div class="container_tt_entreprise" id="div2">
        {% for ent in entreprises %}{% if forloop.counter > 10 and forloop.counter < 21 %} <div
            class="container_1_entreprise">
            <h2> {{ent.nom}}</h2>
            <p>{{ent.description}}</p>
            <img src="{{ent.logo}}" alt="{{ent.nom}}">
            <p>
                <a href="{{ ent.get_absolute_url }}"> Voir l'Entreprise</a>
            </p>
    </div>
    {% endif %}
    {% endfor %}
    </div>
    <div class="container_tt_entreprise" id="div3">
        {% for ent in entreprises %}{% if forloop.counter > 20 and forloop.counter < 31 %} <div
            class="container_1_entreprise">
            <h2> {{ent.nom}}</h2>
            <p>{{ent.description}}</p>
            <img src="{{ent.logo}}" alt="{{ent.nom}}">
            <p>
                <a href="{{ ent.get_absolute_url }}"> Voir l'Entreprise</a>
            </p>
    </div>
    {% endif %}
    {% endfor %}
    </div>
    <div class="container_tt_entreprise" id="div4">
        {% for ent in entreprises %}{% if forloop.counter > 30 and forloop.counter < 41 %} <div
            class="container_1_entreprise">
            <h2> {{ent.nom}}</h2>
            <p>{{ent.description}}</p>
            <img src="{{ent.logo}}" alt="{{ent.nom}}">
            <p>
                <a href="{{ ent.get_absolute_url }}"> Voir l'Entreprise</a>
            </p>
    </div>
    {% endif %}
    {% endfor %}
    </div>
    <div class="container_tt_entreprise" id="div5">
        {% for ent in entreprises %}{% if forloop.counter > 40 and forloop.counter < 51 %} <div
            class="container_1_entreprise">
            <h2> {{ent.nom}}</h2>
            <p>{{ent.description}}</p>
            <img src="{{ent.logo}}" alt="{{ent.nom}}">
            <p>
                <a href="{{ ent.get_absolute_url }}"> Voir l'Entreprise</a>
            </p>
    </div>
    {% endif %}
    {% endfor %}
    </div>
    <div class="container_tt_entreprise" id="div6">
        {% for ent in entreprises %}{% if forloop.counter > 50 and forloop.counter < 61 %} <div
            class="container_1_entreprise">
            <h2> {{ent.nom}}</h2>
            <p>{{ent.description}}</p>
            <img src="{{ent.logo}}" alt="{{ent.nom}}">
            <p>
                <a href="{{ ent.get_absolute_url }}"> Voir l'Entreprise</a>
            </p>
    </div>
    {% endif %}
    {% endfor %}
    </div>
    <div class="container_tt_entreprise" id="div7">
        {% for ent in entreprises %}{% if forloop.counter > 60 and forloop.counter < 71 %} <div
            class="container_1_entreprise">
            <h2> {{ent.nom}}</h2>
            <p>{{ent.description}}</p>
            <img src="{{ent.logo}}" alt="{{ent.nom}}">
            <p>
                <a href="{{ ent.get_absolute_url }}"> Voir l'Entreprise</a>
            </p>
    </div>
    {% endif %}
    {% endfor %}
    </div>
    <div class="container_tt_entreprise" id="div8">
        {% for ent in entreprises %}{% if forloop.counter > 70 and forloop.counter < 81 %} <div
            class="container_1_entreprise">
            <h2> {{ent.nom}}</h2>
            <p>{{ent.description}}</p>
            <img src="{{ent.logo}}" alt="{{ent.nom}}">
            <p>
                <a href="{{ ent.get_absolute_url }}"> Voir l'Entreprise</a>
            </p>
    </div>
    {% endif %}
    {% endfor %}
    </div>
    <div class="container_tt_entreprise" id="div9">
        {% for ent in entreprises %}{% if forloop.counter > 80 and forloop.counter < 91 %} <div
            class="container_1_entreprise">
            <h2> {{ent.nom}}</h2>
            <p>{{ent.description}}</p>
            <img src="{{ent.logo}}" alt="{{ent.nom}}">
            <p>
                <a href="{{ ent.get_absolute_url }}"> Voir l'Entreprise</a>
            </p>
    </div>
    {% endif %}
    {% endfor %}
    </div>
    <div class="container_tt_entreprise" id="div10">
        {% for ent in entreprises %}{% if forloop.counter > 90 %}
        <div class="container_1_entreprise">
            <h2> {{ent.nom}}</h2>
            <p>{{ent.description}}</p>
            <img src="{{ent.logo}}" alt="{{ent.nom}}">
            <p>
                <a href="{{ ent.get_absolute_url }}"> Voir l'Entreprise</a>
            </p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% if nbr != 0 %}
    <div class="bouton_pagination">
        <button class="button_style" id="buttonPre"> Page precedente</button>
        <button class="button_style" id="page1">1</button>
        <button class="button_style" id="page2">2</button>
        <button class="button_style" id="page3">3</button>
        <button class="button_style" id="page4">4</button>
        <button class="button_style" id="page5">5</button>
        <button class="button_style" id="page6">6</button>
        <button class="button_style" id="page7">7</button>
        <button class="button_style" id="page8">8</button>
        <button class="button_style" id="page9">9</button>
        <button class="button_style" id="page10">10</button>
        <button class="button_style" id="buttonSuiv"> Page suivante</button>
    </div>
    {% endif %}
</article>
<script src="{% static 'js/pagination.js'  %}"></script>
{% endblock %}