.container_home {
    justify-content: center;
    text-align: center;
    padding: 5% 0;
}

.container_1 {
    justify-content: center;
    flex-direction: column;
    background-color: #f8f3ec;
    font-family: 'Arvo';
    font-weight: 700;
    height: 350px;
    /* background-image: url('https://images.unsplash.com/photo-1518655048521-f130df041f66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d29yayUyMGRlc2t8ZW58MHx8MHx8&w=1000&q=80'); */
}

.text_homePage {
    text-transform: uppercase;
    color: #417D7A;
    font-size: 3em;
    letter-spacing: 13px;
    text-shadow: 0.05em 0.075em 0 rgb(0 0 0 / 10%);
}

#but_quest {
    text-transform: uppercase;
    color: #1A3C40;
    background-color: #f7eee1;
    font-family: 'Arvo';
    border-radius: 5px;
    padding: 1.3em;
    font-size: 1rem;
    text-decoration: none;
    box-shadow: 0.125em 0.175em 0 0 rgb(0 0 0 / 13%);
    letter-spacing: 1px;
}

.container_1_2 {
    padding-top: 5%;
}

.container_2 {
    background-color: #417D7A;
    color: #EDE6DB;
    font-size: 0.8em;
}

.container_2 h1,
.container_3 h1 {
    margin-top: 0;
    padding: 1em;
    text-transform: uppercase;
}

.cont_2_1 {
    margin: 0 10%;
}

#imgHP1 {
    width: 35%;
}

.container_2 span {
    color: #1A3C40;
    text-transform: uppercase;
    font-weight: 700;
}

.container_2 p {
    font-size: 1.5em;
    text-align: justify;
}


.container_3 {
    background-color: #f8f3ec;
    color: #417D7A;
    padding-bottom: 6%;
}

.container_3 ul {
    justify-content: space-evenly;
    text-align: center;
    margin: 0 20%;

}

.container_3 li {
    list-style: none;
}

.container_3 li img {
    width: 75px;
    height: 75px;
}

.container_3 h2 {
    text-decoration: dotted;
    text-transform: uppercase;
    font-size: 1.2em;
    color: #1A3C40;
}

.container_5 {
    background-color: #1A3C40;
}