/* body {
    background-color: #f8f3ec;
} */

.container_1 {
    text-align: center;
    padding: 2em;
}

#searchbar {
    width: 30%;
    height: 2em;
    border: 1px solid #e6e1da;
    border-radius: 15px;
}

.arbre_filiere {
    text-align: center;
}

.arbre_filiere div {
    display: flex;
    justify-content: space-around;
    /* margin-bottom : 1.5em; */
}

.arbre_filiere button {
    width: 10em;
    padding: 0.5em;
    border-radius: 10px;
    color: #417D7A;
    font-weight: bold;
    background-color: white;
}


.ligne {
    border: 3px solid black;
    border-bottom: 0;
    height: 40px;
}

.l1 {
    margin: 0 25%;
}

.l2 {
    padding: 0 5%;
}

.l_2 {
    display: flex;
}


.sep {
    width: 20%;
}

#sup {
    justify-content: space-evenly;
}

/* autres */



.displayFlex {
    display: flex;
}

.just_center {
    justify-content: center;
}

#categorie {
    margin: 5% 5%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cadre_ {
    border: #417D7A solid 2px;
    border-radius: 5px;
    padding: 0.5em 1em;
    margin: 3%;
    width: 16%;
    height: 150px;
    background: rgb(35, 166, 129);
    background: linear-gradient(90deg, rgba(35, 166, 129, 1) 22%, rgba(21, 142, 106, 0.5382528011204482) 60%);
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.cadre_ h1 {
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
    display: flex;
    align-items: center;
}


.bulles {
    text-align: center;
    border: 5px solid;
    border-radius: 50%;
    padding: 5em;
    width: 100px;
    font-size: 1.4em;
    font-weight: bold;
}