body {
    background-color: #f8f3ec;
}

.container_1 {
    text-align: center;
    padding: 2em;
}

#searchbar {
    width: 30%;
    height: 2em;
    border: 1px solid #e6e1da;
    border-radius: 15px;
}