{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/header.css' %}"> {% block content1 %} {% endblock %}
</head>

<body>
    <!-- <header>
        <nav class="nav_bar">
            <a href="{% url 'index' %}">
                <h1>Accueil</h1>
            </a>
            <a href="{% url 'accueil_entreprise' %}">
                <h1>Entreprise</h1>
            </a>
            {% if user.is_authenticated %} {{ user.username }}
            <a href="{% url 'logout' %}">
                <h2>Déconnexion </h2>
            </a>

            {% else %}
            <a href="{% url 'login' %}">
                <h1>Connexion </h1>
            </a>
            <a href="{% url 'signup' %}">
                <h1>S'inscrire </h1>
            </a>
            {% endif %}
        </nav>
    </header> -->
    <header>
        <nav class="displayFlex nav_header">
            <a href="{% url 'index' %}">
                <img src="{{ent.logo.url}}" alt="{{ent.nom}}" id="img_logo">
            </a>
            <ul class="nav_list">
                <li>
                    <a href="/home" class="navbar_header">Salaire</a>
                </li>
                <li>
                    <a href="{% url 'accueil_entreprise' %}" class="navbar_header">Entreprise</a>
                </li>
                <li>
                    <a href="/players" class="navbar_header">Orientation</a>
                </li>
                <li>
                    {% if user.is_authenticated %} {{ user.username }}
                    <a href="{% url 'logout' %}">Déconnexion</a>
                    {% else %}
                    <a href="{% url 'login' %}">Connexion</a>
                    <a href="{% url 'signup' %}">S'inscrire</a>
                    {% endif %}
                </li>
            </ul>
            <a href="/connexion">
                <img src="/static/pictures/account_header_white.png" alt="account" id="img_logo">
            </a>
        </nav>
    </header>
    <main>
        {% block content2 %} {% endblock %}
    </main>
    <footer>
        <!-- A CODER -->
    </footer>
</body>

</html>