{% extends 'base.html' %} {% load static %}

<!-- Head of page -->
{% block content1 %}
<link rel="stylesheet" href="{% static 'css/salaire.css' %}"> {% endblock %} {% block content2 %}
<title>Salaire</title>
<!-- MAIN HOME PAGE -->

<h1> Salaire</h1>
<div class="salaire_list">
    {% for sal in salaires %}
    <div class="salaire_div">
        <h2> {{sal.libelle}}</h2>
        <p>{{sal.departement}}</p>
        <p class="grandeTaille">{{sal.salaire}}€</p>
    </div>
    {% endfor %}
</div>

{% endblock %}