{% extends 'base.html' %} {% load static %}

<!-- Head of page -->
{% block content1 %}
<link rel="stylesheet" href="{% static 'css/salaire.css' %}"> {% endblock %} {% block content2 %}
<title>Salaire</title>
<!-- MAIN HOME PAGE -->
<div>
    <h1>Salaire pour un poste donné</h1>
    <form method="POST">
        {% csrf_token %}
        <div>
            <label for="jobTitle"></label>
            <input id="jobTitle" type="text" name="jobTitle" placeholder="Salaire pour un job">
        </div>
        <div>
            <label for="villeJob"></label>
            <input id="villeJob" type="text" name="villeJob" placeholder="Paris">
        </div>
        <button type="submit">Rechercher</button>
    </form>
</div>
<h1>Proposition de salaire</h1>
<div class="salaire_list">
    {% for p in postes %}
    <div class="salaire_div">
        <h2> {{p.libelle}}</h2>
        <p>{{p.salaire}}</p>
        <a href="{{ p.get_absolute_url }}"> voir l'entreprises</a>
    </div>

    {% endfor %}
</div>

{% endblock %}