{% extends 'base.html' %} {% load static %}

<!-- Head of page -->
{% block content1 %}
<link rel="stylesheet" href="{% static 'css/salaire.css' %}">
<title>Salaire</title>
{% endblock %} {% block content2 %}

<!-- MAIN HOME PAGE -->
<!-- <img src="{% static 'images/ordinateur.png' %}" alt="ordinateur" id="ordinateur"> -->
<article class="recherche">
    <h1 class="pad_rec">Trouve ton job</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="pad_rec_2">
            <label for="jobTitle"></label>
            <input id="jobTitle" type="text" name="jobTitle" placeholder="Métier (DataScientist...)">
        </div>
        <div class="pad_rec_2">
            <label for="villeJob"></label>
            <input id="villeJob" type="text" name="villeJob" placeholder="Ville">
        </div>
        <button type="submit" id="buttonRechercher">Rechercher</button>
    </form>
</article>
<img src="{% static 'images/plantes.png' %}" alt="job" id="job_img">
<article class="resultat_salaire">
    <div class="salaire_list" id="div1">
      {% for p in postes %} {% if forloop.counter < 11 %}
        <div class="salaire_div">
            <h2> {{p.libelle}}</h2>
            <p>{{p.salaire}}</p>
            <a href="{{ p.get_absolute_url }}">Plus de détails</a>
            <p>{{ forloop.counter }}</p>
        </div>
        {% endif %} {% endfor %}
    </div>
    <div class="salaire_list" id="div2">
        {% for p in postes %} {% if forloop.counter > 10 and forloop.counter < 21 %} 
        <div class="salaire_div">
            <h2> {{p.libelle}}</h2>
            <p>{{p.salaire}}</p>
            <a href="{{ p.get_absolute_url }}">Plus de détails</a>
            <p>{{ forloop.counter }}</p>
        </div>
        {% endif %} {% endfor %}
    </div>
    <div class="salaire_list" id="div3">
        {% for p in postes %} {% if forloop.counter > 20 and forloop.counter < 31 %} 
        <div class="salaire_div">
            <h2> {{p.libelle}}</h2>
            <p>{{p.salaire}}</p>
            <a href="{{ p.get_absolute_url }}">Plus de détails</a>
            <p>{{ forloop.counter }}</p>
        </div>
        {% endif %} {% endfor %}
    </div>
    <div class="salaire_list" id="div4">
        {% for p in postes %} {% if forloop.counter > 30 and forloop.counter < 41 %} 
        <div class="salaire_div">
            <h2> {{p.libelle}}</h2>
            <p>{{p.salaire}}</p>
            <a href="{{ p.get_absolute_url }}">Plus de détails</a>
            <p>{{ forloop.counter }}</p>
        </div>
        {% endif %} {% endfor %}
    </div>
    <div class="salaire_list" id="div5">
        {% for p in postes %} {% if forloop.counter > 40 and forloop.counter < 51 %} 
        <div class="salaire_div">
            <h2> {{p.libelle}}</h2>
            <p>{{p.salaire}}</p>
            <a href="{{ p.get_absolute_url }}">Plus de détails</a>
            <p>{{ forloop.counter }}</p>
        </div>
        {% endif %} {% endfor %}
    </div>
    <div class="salaire_list" id="div6">
        {% for p in postes %} {% if forloop.counter > 50 and forloop.counter < 61 %} 
        <div class="salaire_div">
            <h2> {{p.libelle}}</h2>
            <p>{{p.salaire}}</p>
            <a href="{{ p.get_absolute_url }}">Plus de détails</a>
            <p>{{ forloop.counter }}</p>
        </div>
        {% endif %} {% endfor %}
    </div>
    <div class="salaire_list" id="div7">
        {% for p in postes %} {% if forloop.counter > 60 and forloop.counter < 71 %} 
        <div class="salaire_div">
            <h2> {{p.libelle}}</h2>
            <p>{{p.salaire}}</p>
            <a href="{{ p.get_absolute_url }}">Plus de détails</a>
            <p>{{ forloop.counter }}</p>
        </div>
        {% endif %} {% endfor %}
    </div>
    <div class="salaire_list" id="div8">
        {% for p in postes %} {% if forloop.counter > 70 and forloop.counter < 81 %} 
        <div class="salaire_div">
            <h2> {{p.libelle}}</h2>
            <p>{{p.salaire}}</p>
            <a href="{{ p.get_absolute_url }}">Plus de détails</a>
            <p>{{ forloop.counter }}</p>
        </div>
        {% endif %} {% endfor %}
    </div>
    <div class="salaire_list" id="div9">
        {% for p in postes %} {% if forloop.counter > 80 and forloop.counter < 91 %} 
        <div class="salaire_div">
            <h2> {{p.libelle}}</h2>
            <p>{{p.salaire}}</p>
            <a href="{{ p.get_absolute_url }}">Plus de détails</a>
            <p>{{ forloop.counter }}</p>
        </div>
        {% endif %} {% endfor %}
    </div>
    <div class="salaire_list" id="div10">
        {% for p in postes %} {% if forloop.counter > 90 %} 
        <div class="salaire_div">
            <h2> {{p.libelle}}</h2>
            <p>{{p.salaire}}</p>
            <a href="{{ p.get_absolute_url }}">Plus de détails</a>
            <p>{{ forloop.counter }}</p>
        </div>
        {% endif %} {% endfor %}
    </div>
    {% if nbr != 0 %}
    <div style="display:flex; justify-content: center">
        <button id="buttonPre"> Page precedente</button>
        <button id="page1">1</button>
        <button id="page2">2</button>
        <button id="page3">3</button>
        <button id="page4">4</button>
        <button id="page5">5</button>
        <button id="page6">6</button>
        <button id="page7">7</button>
        <button id="page8">8</button>
        <button id="page9">9</button>
        <button id="page10">10</button>
        <button id="buttonSuiv"> Page suivante</button>

    </div>
    {% endif %}
</article>
<h1 id="phrases_h1">Les questions qu'on se pose tous...</h1>
<article class="phrases">
    <p>Est-ce que je peux espérer demander plus ?</p>
    <p>Suis-je sous-payé ?</p>
    <p>Mes collegues gagnent-ils le même salaire que moi ?</p>
</article>

<script src="{% static 'js/script.js'  %}"></script>
{% endblock %}