<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign up</title>
</head>

<body>
    <h1>S'inscrire</h1>
    <form method="POST">
        {% csrf_token %}
        <p>
            <label for="username">Nom d'utilisateur</label>
            <input id="username" type="text" name="username">
        </p>
        <p>
            <label for="password">Mot de passe</label>
            <input id="password" type="password" name="password">
        </p>
        <button type="submit">S'inscrire</button>
    </form>
</body>

</html>