{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %} ">
    <link rel="icon" href="{% static 'images/logo_website.png' %}"> {% block content1 %} {% endblock %}
</head>

<body>
    <!-- HEADER FOR ALL PEAGES -->
    <header>
        <nav class="displayFlex nav_header">
            <a href="{% url 'index' %}">
                <img src="{% static 'images/logo_website.png' %}" alt="Logo" id="img_logo">
            </a>
            <ul class="nav_list">
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'salaire' %}" class="navbar_header">Métier</a>
                </li>
                <li>
                    <a href="{% url 'accueil_entreprise' %}" class="navbar_header">Entreprise</a>
                </li>
                <!-- <li>
                    <a href="{% url 'orientation' %}" class="navbar_header">Orientation</a>
                </li> -->
                <li>
                    <a href="{% url 'compte' %}">{{user.username}}</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'login' %}" class="navbar_header">Métier</a>
                </li>
                <li>
                    <a href="{% url 'login' %}" class="navbar_header">Entreprise</a>
                </li>
                <!-- <li>
                    <a href="{% url 'login' %}" class="navbar_header">Orientation</a>
                </li> -->
                <li>
                    <a href="{% url 'login' %}">Connexion</a>
                </li>
                <li>
                    <a href="{% url 'signup' %}">S'inscrire</a>
                </li>
                {% endif %}
            </ul>
            <ul class="sous_nav">
                <div class="menu_burg">
                    <span class="bar1"></span>
                    <span class="bar2"></span>
                    <span class="bar3"></span>
                </div>
                <div class="menu_pages">
                    {% if user.is_authenticated %}
                    <li class="list_item">
                        <a href="{% url 'salaire' %}" class="a-item">Métier</a>
                    </li>
                    <li class="list_item">
                        <a href="{% url 'accueil_entreprise' %}" class="a-item">Entreprise</a>
                    </li>
                    <!-- <li class="list_item">
                        <a href="{% url 'orientation' %}" class="a-item">Orientation</a>
                    </li> -->
                    <li class="list_item">
                        <a href="{% url 'compte' %}" class="a-item">{{user.username}}</a>
                    </li>
                    {% else %}
                    <li class="list_item">
                        <a href="{% url 'login' %}" class="a-item">Métier</a>
                    </li>
                    <li class="list_item">
                        <a href="{% url 'login' %}" class="a-item">Entreprise</a>
                    </li>
                    <!-- <li class="list_item">
                        <a href="{% url 'login' %}" class="a-item">Orientation</a>
                    </li> -->
                    <li class="list_item">
                        <a href="{% url 'login' %}" class="a-item">Connexion</a>
                    </li>
                    <li class="list_item">
                        <a href="{% url 'signup' %}" class="a-item">S'inscrire</a>
                    </li>
                    {% endif %}
                </div>
            </ul>
        </nav>
    </header>
    <main>
        {% block content2 %} {% endblock %}
    </main>
    <footer class="displayFlex">
        <ul class="displayFlex">
            <li>
                <a href="#" class="footer-link">Accueil</a>
            </li>
            <li>
                <a href="#" class="footer-link">A propos</a>
            </li>
            <li>
                <a href="#" class="footer-link">Salaire</a>
            </li>
        </ul>
        <div class="footer_container">
            <p>© 2022, create by Antonin Lampin, Houda Zamani et Simon Martinenq</p>
            <img src="https://webstockreview.net/images/instagram-clipart-black-and-white-15.png" alt="Instagram Logo"
                class="footerImg">
            <img src="https://www.shareicon.net/data/2016/07/14/607478_facebook_4096x4096.png" alt="Facebook logo"
                class="footerImg">
            <a href="https://www.linkedin.com/company/projet-transverse"><img
                    src="https://sguru.org/wp-content/uploads/2018/02/linkedin-png-linkedin-icon-1600.png"
                    alt="Linkedin Logo" class="footerImg"></a>
        </div>
    </footer>
    <script src="{% static 'js/hamburger.js' %}"></script>
</body>

</html>