h1 {
    color: #417D7A;
    font-size: 2.5em;
}

h2 {
    color: #4b9b97;
    text-decoration: underline;
    margin-left: 5%;
}

p {
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container_b {
    margin: 10px 10%;
}

img {
    width: 50px;
}

.entete_PF {
    text-align: center;
}

.displayFlex {
    display: flex;
}