{% extends 'base.html' %}
{% load static %}

<!-- HEAD PART -->
{% block content1 %}

<title>Postes</title>
<link rel="stylesheet" href=" {% static 'css/orientation.css' %} ">

{% endblock %}

<!-- MAIN -->
{% block content2 %}

<article>
    <div class="container_1">
        <h1>Trouve ton interlocuteur</h1>
        <input id="searchbar" onkeyup="" type="text" name="search" placeholder="C'est ici que ça se passe..">
        <!-- Ajouter le js -->
    </div>
</article>
<!-- <article class="arbre_filiere">
    <div>
        <button class="cont_filiere">BREVET DES COLLEGES</button>
    </div>
     <hr class="hr_t1">
    <div>
        <hr class="hr_t2">
        <hr class="hr_t2">
    </div> 
    <div class="ligne l1"></div>
    <div>
        <button>Voie Professionnel</button>
        <button>Voie Générale</button>
    </div>
    <div class="l_2">
        <div class="ligne l2"></div>
        <div class="ligne l2"></div>
    </div>
    <div>
        <div class="sep">
            <button>Bac Technologique</button>
            <button>Bac Générale</button>
        </div>

        <div class="sep">
            <button>Bac Professionnel</button>
            <button>CAP</button>
        </div>
    </div>
    <div id="sup">
        <button>Etude Supérieur longues</button>
        <button>Etude Supérieur courtes</button>
    </div>
</article> -->
<article class="displayFlex" id="categorie">
    <div class="cadre_">
        <h1>Métier par secteur</h1>
    </div>
    <div class="cadre_">
        <h1>Métier par centre d'intérêts</h1>
    </div>
    <div class="cadre_">
        <h1>Métier par ordre Alphabétique</h1>
    </div>
    <div class="cadre_">
        <h1>Sécteurs à découvrir</h1>
    </div>
    <div class="cadre_">
        <h1>Métier qui recrutent</h1>
    </div>

</article>
<article class="displayFlex just_center">
    <div class="bulles">Brevet des collegues</div>
    <div></div>


</article>
{% endblock %}