{% extends 'base.html' %}
{% load static %}

<!-- HEAD PART -->
{% block content1 %}

<title>Orientation</title>
<link rel="stylesheet" href=" {% static 'css/orientation.css' %} ">

{% endblock %}

<!-- MAIN -->
{% block content2 %}

<article>
    <div class="container_1">
        <h1>Trouve ta voie</h1>
        <input id="searchbar" onkeyup="" type="text" name="search" placeholder="C'est ici que ça se passe..">
        <!-- Ajouter le js -->
    </div>
</article>
<article class="arbre_filiere">
    <div>
        <button class="cont_filiere">BREVET DES COLLEGES</button>
    </div>
    <!-- <hr class="hr_t1">
    <div>
        <hr class="hr_t2">
        <hr class="hr_t2">
    </div> -->
    <div class="ligne l1"></div>
    <div>
        <button>Voie Professionnel</button>
        <button>Voie Générale</button>
    </div>
    <div class="l_2">
        <div class="ligne l2"></div>
        <div class="ligne l2"></div>
    </div>
    <div>
        <div class="sep">
            <button>Bac Technologique</button>
            <button>Bac Générale</button>
        </div>

        <div class="sep">
            <button>Bac Professionnel</button>
            <button>CAP</button>
        </div>
    </div>
    <div id="sup">
        <button>Etude Supérieur longues</button>
        <button>Etude Supérieur courtes</button>
    </div>
</article>

{% endblock %}